<div id="signinmodal" class="modal-sign"></div>
<script src="/js/modalView.js"></script>
<script src="/js/modalService.js"></script>
        <!-- meet our elites    top scorrer  
        all players  (sort by ->team, most betted on,goals scorred) -->
<div class="slider">
        {{#each team}}
            <button href="#" onclick="toggle('slide-{{this.id}}')"><img src="{{this.TeamLogo}}" width="40" height="40"></button>
        {{/each}}
</div>
<div class="players-container" >
    <div class="x-team-players-container">
      <p class="big-title">Team Players</p>
      {{#each team}}
      <div style="display: flex;" id="slide-{{this.id}}">
        {{#each this.TeamPlayers}}
        
        <div class="card">
          <div class="player-goals">
            
            <img src="/images/football.png" class="football">
            <div class="goals-quantity">{{this.goals}}</div>
          </div>
          <img src="{{this.photo}}" alt="">
          <div class="more-info">
            <div class="assists-quantity">Assists : {{this.assists}}</div>
            <div class="matches-quantity">Matches Played : {{this.totalMatchesPlayed}}</div>
            <div class="position">Posistion : {{this.position}}</div>
          </div>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="title">{{this.playerName}}</div>
        </div>
        {{/each}}
      </div>
        
      {{/each}}
    </div>
    <div class="x-team-top-player">
      <p class="big-title">Top Player</p>
      {{#each team}}
      <div style="display: flex;justify-content:center;" id="slide-{{this.id}}">
        {{#each this.TeamPlayers}}
        {{#if this.isTopPlayer}}
          <div class="card">
            <div class="player-goals">
              
              <img src="/images/football.png" class="football">
              <div class="goals-quantity">{{this.goals}}</div>
            </div>
            <img src="{{this.photo}}" alt="">
            <div class="more-info">
              <div class="assists-quantity">Assists : {{this.assists}}</div>
              <div class="matches-quantity">Matches Played : {{this.totalMatchesPlayed}}</div>
              <div class="position">Posistion : {{this.position}}</div>
            </div>
            <div class="bar">
              <div class="emptybar"></div>
              <div class="filledbar"></div>
            </div>
            <div class="title">{{this.playerName}}</div>
          </div>
        {{/if}}
        {{/each}}
      </div>
        
      {{/each}}
    </div>
</div> 
<script src="/js/players.js"></script>
