<div id="signinmodal" class="modal-sign"></div>
<script src="/js/modalView.js"></script>
<script src="/js/modalService.js"></script>

<div class="stats-container">
    <div class="slider">
        {{#each stats}}
            <a href="#slide-{{this.id}}"><img src="{{this.TeamLogo}}" width="40" height="40"></a>
        {{/each}}

        <div class="slides">
            {{#each stats}}
                <div class="slide" id="slide-{{this.id}}">
                    <div class="photos-container">
                        <div class="team-logo-name">
                            <img src="{{this.TeamLogo}}" width="140" height="140">
                            <div class="team-name">{{this.TeamName}}</div>
                        </div>
                        <div class="top-scorrer-container">
                            <div class="top-player-title">Top Player</div>
                            <img src="{{this.Stats.topScorrer.photo}}" width="140" height="140" class="top-scorrer-img">
                            <div class="top-player-name">{{this.Stats.topScorrer.name}}</div>
                        </div>
                    </div>
                    <div class="stats-showcase">
                        <div class="row">
                            <div class="semi-container">
                                <div class="mini-title">Matches Played</div>
                                <div class="stat-value">{{this.Stats.matches_played}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Goals</div>
                                <div class="stat-value">{{this.Stats.goals}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Passes</div>
                                <div class="stat-value">{{this.Stats.passes}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Fouls</div>
                                <div class="stat-value">{{this.Stats.fouls}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Yellow Cards</div>
                                <div class="stat-value">{{this.Stats.yellow_cards}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="semi-container">
                                <div class="mini-title">Posistion</div>
                                <div style="font-size: xx-large;">{{this.Stats.topScorrer.position}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Goals</div>
                                <div class="stat-value">{{this.Stats.topScorrer.goals}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Assists</div>
                                <div class="stat-value">{{this.Stats.topScorrer.assists}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Hat Tricks</div>
                                <div class="stat-value">{{this.Stats.topScorrer.hat_tricks}}</div>
                            </div>
                            <div class="semi-container">
                                <div class="mini-title">Yellow Cards</div>
                                <div class="stat-value">{{this.Stats.topScorrer.yellow_cards}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
    
<script src="/public/js/statistics.js"></script>
